body{
background-color: #040303;

}
/*nav*/
.header{
  
  height: 20vh;
  background-color:  #040303;

}
 .navlist li{
  list-style-type: none;
  display :inline;
  color:white;
  margin-left: 10%;
  margin-top: 10%;
  padding:10px;
  font-size:20px;
}
a:link{
  color:white;
  text-decoration:none ;
  
}
a:visited{
  color:yellowgreen;
}
a:hover{
  color:green;
}
/*Home*/
.homecon{
  display: flex;
  height: 100vh;
  background-color: 
  #040303;

}
.leftcon{
  flex: 1 0 0;
  position:relative;
}

.rightcon{
  flex: 1 0 0;
  position:relative;
}
.name{
 font-size:  100px;;
  color:white;
}
.job{
  font-size:40px;
  color:white;
  display:block;
  position: absolute;
  right: 45%;
  top: -80px;
}
.aboutcon p{
  font-size :30px;
}
.textwrap{
  padding:50px;
  margin-left:auto;
  width:50%;
  position:absolute;
  top:10%;
  left:20%;
}
.img{
  position:absolute;
  top:5%;
}
/*About*/
.aboutcon{
  display: flex;
  height:80vh;
  background-color: #040303;
  position:relative;

}
.aboutcard {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
 margin-top: 60px;
  height: 300px;
  border-radius: 15px;
  backdrop-filter: blur(14px);
  background-color: greenyellow; 
  padding: 20px;
  text-align: center;
}
/*Skills*/
.skillcon{
  display: flex;
  height: 160vh;
  background-color: #040303;
 position: relative;
 }


.list{

  flex-direction: row;
  justify-content: space-between;

}
.list li{
  
  list-style-type: none;
  display :inline-flex;
  width:30%;
  height:40vh;
  margin:20px 10px;
  font-size:25px;
  border: 1px solid yellowgreen;
  color:white;
}
/*Project*/
.projcon{
  display: flex;
  height: 50vh;
  background-color: #040303;
  position:relative
 
}
.listproj li{
  font-size:25px;
  color:white;
  list-style-type:none;
  display:inline;
  margin:20px;
  

}
/*Footer*/
.footer{
  display: flex;
  height: 10vh;
  background-color:greenyellow;

}
.footlist li{
  list-style-type: none;
  display:inline;
  
 margin:20px;
 
 
}
/*contact*/
.container{
  display: flex;
  height: 120vh;
  background-color: #040303;

}
.container li{
  font-size :30px;
  list-style-type: none;
}
.container p{
  font-size :30px;
}
.aboutcard {
  margin-right: auto;
  margin-left: auto;
  width: 700px;
 
  height: 300px;
  border-radius: 15px;
  backdrop-filter: blur(14px);
  background-color: greenyellow; 
  padding: 10px;
  text-align: center;
}